@model Zuper_Mart.Models.AboutU
@{
    ViewBag.Title = "Contact";
}
@{
    if (@ViewBag.msgSubmit != null)
    {
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 100px; right:30px;">
            <div class="toast-header">
                <img src="~/images/brand.png" class="rounded me-2" alt="..." style="width:30px;height:30px;">
                <strong class="me-auto">ZuperMart</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.msgSubmit
            </div>
        </div>
    }
}
<!-- Page Content -->
<div class="page-heading contact-heading header-text mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>contact us</h4>
                    <h2>let’s get in touch</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center" id="contactusinfo">
    <div class="row">
        <div class="col-xl-6">
            <img src="~/@Model.StorePURL" alt="" class="storePic">
        </div>
        <div class="col-xl-6" id="contactinfo">
            <div class="text">
                <h4><object class="icon" data="~/images/svgs/geo-alt.svg" type="image/svg+xml"></object>Adress</h4>
                <p>@Model.Address</p>
            </div>
            <div class="text">
                <h4><object class="icon" data="~/images/svgs/envelope.svg" type="image/svg+xml"></object>Email</h4>
                <p>@Model.Email</p>
            </div>
            <div class="text">
                <h4><object class="icon" data="~/images/svgs/telephone.svg" type="image/svg+xml"></object>Phone</h4>
                <p>@Model.Phone</p>
            </div>
            <div class="text">
                <h4><object class="icon" data="~/images/svgs/whatsapp.svg" type="image/svg+xml"></object>WhatsApp Us</h4>
                <p>@Model.WhatsApp</p>
            </div>
        </div>
    </div>
</div>
<div class="find-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Location on Maps</h2>
                </div>
            </div>
            <div class="col-md-12">
                <!-- How to change your own map point
                1. Go to Google Maps
                2. Click on your location point
                3. Click "Share" and choose "Embed map" tab
                4. Copy only URL and paste it within the src="" field below
                -->
                <div id="map">
                    <iframe src="@Model.LocationLink" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="send-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Send us a Message</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact" action="/Home/Contact" method="post">
                        <div class="row">
                            @{
                                if (@ViewBag.customerInfo != null && @ViewBag.customerEmail != null && @ViewBag.customerPhone != null)
                                {
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" value="@ViewBag.customerInfo" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" value="@ViewBag.customerEmail" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="phone" type="text" class="form-control" id="phone" placeholder="phone" value="@ViewBag.customerPhone"
                                                   required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                                                      required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                        </fieldset>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="phone" type="text" class="form-control" id="phone" placeholder="phone"
                                                   required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                                                      required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                        </fieldset>
                                    </div>
                                }
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Happy Customers</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel">
                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="1">
                    </div>

                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="2">
                    </div>

                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="3">
                    </div>

                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="4">
                    </div>

                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="5">
                    </div>

                    <div class="client-item">
                        <img src="~/images/about-us/partner-1.png" alt="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = (event) => {
        let myAlert = document.querySelector('.toast');
        let bsAlert = new bootstrap.Toast(myAlert);
        bsAlert.show();
    }
</script>

<!-- </div> -->
<!-- </div>
</div> -->
