@model Zuper_Mart.Models.Product
@{
    ViewBag.Title = "ProductPreview";
}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <!--main image-->
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="~/images/products/@Model.PrdImgUrl" alt="..."
                         id="product-detail">
                </div>

               
            </div>
            <!-- col end -->
            <!--description here-->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!--using breadcrumb to show where we are...cool-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/Products">Our Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Casual Shirt</li>
                            </ol>
                        </nav>

                        <h1 class="h2">@Model.PName</h1>
                        <p class="h3 py-2">@Model.Price</p>
                        <ul class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= @Model.PRating)
                                    {
                                        <i class='fa fa-star text-warning'></i>
                                    }
                                    else
                                    {
                                        <i class='fa fa-star text-secondary'></i>
                                    }
                                }
                            }
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Brand:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>@Model.PBrand</strong></p>
                            </li>
                        </ul>
                        <br>
                        <h6>Description:</h6>
                        <p>
                            @Model.longDescription
                        </p>
                        <br>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>@Model.ProductColors</strong></p>
                            </li>
                        </ul>

                        <h6>Specification:</h6>
                        <ul class="list-unstyled pb-3">
                            <li>@Model.PType</li>
                            <li>100% Cotton</li>
                            <li>Printed design</li>
                            <li>Hand/machine wash</li>
                            <li>Slim fit</li>

                        </ul>

                        <div>
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">
                                            Size :
                                            <input type="hidden" name="product-size" id="product-size" value="S">
                                        </li>
                                        @{
                                            if (@Model.sizeS != 0)
                                            {
                                                <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                            }
                                            if (@Model.sizeM != 0)
                                            {
                                                <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            }
                                            if (@Model.sizeL != 0)
                                            {
                                                <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            }
                                            if (@Model.sizeXL != 0)
                                            {
                                                <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                            }

                                        }

                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success disabled" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success disabled" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row pb-3">
                                <span class="col d-grid" tabindex="0" data-bs-toggle="tooltip" title="Online shopping is under construction">
                                    <button type="submit" disabled class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                </span>

                                @{
                                    if (@ViewBag.ifAdded == true)
                                    {
                                        <form action="/Home/RemoveWish" method="POST">
                                            <input type="number" name="pID" value="@Model.ProductID" style="display:none;">
                                            <span class="col d-grid">
                                                <button type="submit" class="btn btn-outline-danger btn-lg" name="removefromwish" value="addtocard">Remove from Wishlist</button>
                                            </span>
                                        </form>
                                    }
                                    else
                                    {
                                        <form action="/Home/AddToWishlist" method="POST">
                                            <input type="number" name="productID" value="@Model.ProductID" style="display:none;">
                                            <span class="col d-grid">
                                                <button type="submit" class="btn btn-outline-danger btn-lg" name="submit" value="addtocard">
                                                    Add To Wishlist
                                                </button>
                                            </span>
                                        </form>
                                    }
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->


<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Related Products</h4>
        </div>

                    <div class="row row-cols-1 row-cols-md-3 g-3">
                        @{
                            if (@ViewBag.ProductList != null)
                            {
                                foreach (var item in ViewBag.ProductList)
                                {
                                    <div class="card" style="width: 15rem;">
                                        <img src="~/images/products/@item.PrdImgUrl " class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-danger">@item.Price</h5>
                                            <p class="card-text">@item.PName</p>
                                            <a href="/Home/ProductPreview/@item.ProductID" class="stretched-link" target="_blank"></a>
                                        </div>
                                    </div>
                                }
                            }
                        }

                        <!--card group-1 ends here-->
                    </div>
                <!--carousel item 1 ended here-->
    </div>           
</section>
<script src="js/index.js?version=1"></script>

